<div class="collection" style="margin-top:0px;">
  <a class="collection-header"><h4 style="color:black;text-align:center;">KT URI TEST</h4></a>
  <a class="collection-item waves-effect waves-teal" href='fb://page/indieperday'>1일1인디</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://around'>3. 주변혜택 메인</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://coupon'>4. 쿠폰 메인</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://news'>5. 새소식 메인</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://giftishow'>6. 기프티쇼 메인</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://event?idx=1012093'>7. 이벤트 상세 : 롯데리아 TGIF 크리스피도넛</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://coupon/add?id=CPN201215227'>8-1. 쿠폰 상세 : 마노핀</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://coupon/add?id=CPN201215218'>8-2. 쿠폰 상세 : 칠성사이다</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://member/detail?id=2b_e1'>9. 멤버십 상세 : E1 오렌지카드</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://around/detail?shop_id=BRD000002135&shop_name=커피빈&branch_cd=354151&branch_name=보라매공원동문앞'>10. 주변혜택 상세 : 커피빈</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://giftishow/detail?GOODURL=https://moca2.giftishow.com/goods/GoodsDetail.do?goodsId=G00000008056&TITLE=기프티쇼"'>11. 기프티쇼 상세 : 망고 패션 후르츠 블렌디드</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://coupon/list?id=lotte_young&title=롯데카드영&info_type=MEMBERSHIP"'>12. 쿠폰 상세리스트(멤버십/브랜드) : 롯데카드영</a>
  <a class="collection-item waves-effect waves-teal" href='KTolleh00114://direct_member?id=SEL000000054&title=T MEMBERSHIP"'>13. T, U+ 멤버십 등록 바로가기 : T 멤버십</a>
</div>